node_modules
package-lock.json
yarn.lock
dist
.husky
.env.*
Dockerfile
.dockerignore
.git
.gitignore
.prettierrc
README.md
.eslintrc.json
.vscode
docker-compose.yml
eslint.config.mjs
tsconfig.json
commitlint.config.js